name: CI
permissions:
  contents: read
  pull-requests: write
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  build:
    name: Build and test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - name: Check formatting
        run: pnpm lint
      - name: Check types
        run: pnpm typecheck
      - name: Build
        run: pnpm build
      - id: check-unowned-dependencies
        name: Check unowned dependencies
        continue-on-error: true
        uses: ./
        with:
          dependency-file: 'package.json'
          loader: '@dependency-owners/package-json-loader'
      - name: Test action
        run: |
          if [[ "${{ steps.check-unowned-dependencies.outputs.unowned-dependencies }}" != "[]" ]]; then
            exit 1
          fi
          if [[ "${{ steps.check-unowned-dependencies.outputs.unowned-dependencies-found }}" == "true" ]]; then
            exit 1
          fi
      - name: Assign reviewers to dependency changes
        uses: dependency-owners/assign@949b8a8aae5b991259538ce95851a3554d743990 # v2.0.3
        with:
          dependency-file: 'package.json'
          loader: '@dependency-owners/package-json-loader'
      - name: Check dist for changes
        run: git diff --exit-code --quiet ./dist
