name: CI
permissions:
  contents: read
  pull-requests: write
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  build:
    name: Build and test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - name: Check formatting
        run: pnpm lint
      - name: Check types
        run: pnpm typecheck
      - name: Build
        run: pnpm build
      - id: check-unowned-dependencies
        name: Check unowned dependencies
        continue-on-error: true
        uses: ./
        with:
          dependency-file: 'package.json'
          loader: '@dependency-owners/package-json-loader'
      - name: Test action
        run: |
          if [[ "${{ steps.check-unowned-dependencies.outputs.unowned-dependencies }}" != "[]" ]]; then
            exit 1
          fi
          if [[ "${{ steps.check-unowned-dependencies.outputs.unowned-dependencies-found }}" == "true" ]]; then
            exit 1
          fi
      - name: Assign reviewers to dependency changes
        uses: dependency-owners/assign@d07f1660faa9a51d39f92e507e6906d7030453f5 # v2.0.0
        with:
          dependency-file: 'package.json'
          loader: '@dependency-owners/package-json-loader'
      - name: Check dist for changes
        run: git diff --exit-code --quiet ./dist
